
<div class="header">

    <div class="notification">
      
      <button (click)="toggleSidebar()" class="MENU" mat-icon-button aria-label="Example icon-button with a menu">   <mat-icon  >menu</mat-icon> 
      </button>

      <button mat-icon-button aria-label="Example icon-button with a menu">   <mat-icon >notifications_active</mat-icon> 
      </button>


    </div>
  
    <div class="pro">
      <h3 >Upgrade to Pro</h3>
      
  
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>email</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon>work</mat-icon>
          <span>My Tasks</span>
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
  
  
      
    </div>
  
  
  
  
  
  
  
  
  </div>
