<div class="icons-container">

    <mat-grid-list cols="1" rowHeight="10:1">

        <mat-grid-tile>
  

            <div class="icons">

                <h2>Icons</h2>
                <h3>Tabler Icons</h3>
                
          

            </div>
        </mat-grid-tile>







    </mat-grid-list>


    

    <mat-grid-list class="iframe-list" cols="1" rowHeight="2:1">
        <mat-grid-tile>
            <iframe src="https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/" ></iframe>
        </mat-grid-tile>

      </mat-grid-list>


</div>