<div class="MENU">
    <mat-grid-list cols="2" [rowHeight]="rowHeight" >
        <h1 class="menu-h1">Menu</h1>

      <mat-grid-tile>
    

        <div class="basic-menu">

        <h2>Basic</h2>
        <hr>



            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
    </mat-grid-tile>

        <mat-grid-tile>

            <div class="icon-menu">
            <h2>With Icons</h2>
            <hr>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                    </button>
                </mat-menu>
        </div>
        </mat-grid-tile>

    <mat-grid-tile class="menu-nested-title">


        <div class="menu-nested">
        <h2>Nested Menu</h2>
        <hr>
        <button mat-button [matMenuTriggerFor]="animals">Animal index</button>
    <mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
    <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
    <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
    <button mat-menu-item>Birds</button>
    <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
    <button mat-menu-item>Insects</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
    <button mat-menu-item>Arachnids</button>
    <button mat-menu-item>Velvet worms</button>
    <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
    <button mat-menu-item>Baikal oilfish</button>
    <button mat-menu-item>Bala shark</button>
    <button mat-menu-item>Ballan wrasse</button>
    <button mat-menu-item>Bamboo shark</button>
    <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
    <button mat-menu-item>Sonoran desert toad</button>
    <button mat-menu-item>Western toad</button>
    <button mat-menu-item>Arroyo toad</button>
    <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
    <button mat-menu-item>Banded Day Gecko</button>
    <button mat-menu-item>Banded Gila Monster</button>
    <button mat-menu-item>Black Tree Monitor</button>
    <button mat-menu-item>Blue Spiny Lizard</button>
    <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
</div>
    </mat-grid-tile>

    </mat-grid-list>


    <mat-grid-list cols="1" rowHeight="10:1">
        <h2 class="menu-position">Positions</h2>



        <mat-grid-tile class="position-mat">

            <div class="menu-position-box">
            <button style="color: #fff;" class="mat-menu" mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
            <mat-menu  class="mat-menu-2" #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>

            <button style="color: #fff;" class="mat-menu-grey" mat-button [matMenuTriggerFor]="belowMenu">Below</button>
            <mat-menu class="mat-menu-grey-2" #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>

            <button style="color: #fff;" class="mat-menu-coral" mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
            <mat-menu class="mat-menu-coral-2" #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>


            <button style="color: #fff;" class="mat-menu-after" mat-button [matMenuTriggerFor]="afterMenu">After</button>
            <mat-menu class="mat-menu-after-2" #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>
            </div>
        </mat-grid-tile>
    
      </mat-grid-list>

</div>