<div class="lists">



    <h1 class="lists-h1">Lists</h1>
    <mat-grid-list   [cols]="isSmallScreen ? 1 : 2"   [rowHeight]="rowHeight"    >

    
        <mat-grid-tile  class="basic">

  
            <div class="basic-list">
                <h1>Basic</h1>

                <hr>
                <mat-list role="list">

            
                    <mat-list-item role="listitem">Item 1</mat-list-item>
                    <mat-list-item role="listitem">Item 2</mat-list-item>

                    <mat-list-item role="listitem">Item 3</mat-list-item>
                </mat-list>
            </div>

        </mat-grid-tile>

        <mat-grid-tile class="two-line">

            <div class="two-line-list">
                <h1>Two line lists</h1>
            
                <hr>
            <mat-list>
              
        
                <mat-list-item>

                    <span matListItemTitle>Title</span>
                    <span matListItemLine>Second line</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Title</span>
                    <span>Second line</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Title</span>
                    Second line
                </mat-list-item>
            </mat-list>
        </div> 
        </mat-grid-tile>

        <mat-grid-tile class="three-line">


            <div class="three-line-list">
                <h1>Three line lists</h1>
              <hr>
                <mat-list>
                
                <mat-list-item>
                    <span matListItemTitle>Title</span>
                    <span matListItemLine>Second line</span>
                    <span matListItemLine>Third line</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Title</span>
                    <span matListItemLine>Second line. This line will truncate.</span>
                    <span>Third line</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Title</span>
                    <span matListItemLine>Second line. This line will truncate.</span>
                    Third line
                </mat-list-item>
                </mat-list>
            </div>

        </mat-grid-tile>

        <mat-grid-tile class="three-text-line">

            <div class="three-text-line-list">
                <h1>Three line list with secondary text wrapping</h1>

                <hr>

            <mat-list class="example-list-wrapping">                       
            <mat-list-item lines="3">
                <span matListItemTitle>Title</span>
                <span>
                Secondary line that will wrap because the list lines is explicitly set to 3 lines. Text
                inside of a `matListItemTitle` or `matListItemLine` will never wrap.
                </span>
            </mat-list-item>
            <mat-list-item lines="3">
                <span matListItemTitle>Title</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est
            </mat-list-item>
            </mat-list>
        </div>

        </mat-grid-tile>

        <mat-grid-tile   class="list-selection">

          
            <div class="list-selection-list">
                <h1>List with  Selection</h1>
                <hr>
            <mat-selection-list #shoes>
              
                @for (shoe of typesOfShoes; track shoe) {
                  <mat-list-option>{{shoe}}</mat-list-option>
                }
                <br>
                <p>
                    Options selected: {{shoes.selectedOptions.selected.length}}
                  </p>
              </mat-selection-list>
              
            </div>

        </mat-grid-tile>

        <mat-grid-tile class="list-single-selection">


            <div class="list-single-selection-list">
                <h1>List with single Selection</h1>
            
                <hr>

            <mat-selection-list #shoes [multiple]="false">

                @for (shoe of typesOfShoes1; track shoe) {
                  <mat-list-option [value]="shoe">{{shoe}}</mat-list-option>
                }
                <br>
                <p>
                    Option selected: {{shoes.selectedOptions.hasValue() ? shoes.selectedOptions.selected[0].value : 'None'}}
                  </p>
              </mat-selection-list>
              
            </div>
            
        </mat-grid-tile>


    </mat-grid-list>


<br><br>

    <mat-grid-list class="list-sections-title"  [cols]="isSmallScreen2 ? 1 : 1"  cols="1" [rowHeight]="rowHeight1">

        <h1 class="list-selection-h1">List with Sections</h1>


        

        <mat-grid-tile class="list-sections">

            <div class="list-sections-list">

            <h1>Folders</h1>
            <hr>

            <mat-list>

                <div mat-subheader>Folders</div>
                @for (folder of folders; track folder) {
                  <mat-list-item>
                    <mat-icon matListItemIcon>folder</mat-icon>
                    <div matListItemTitle>{{folder.name}}</div>
                    <div matListItemLine>{{folder.updated | date}}</div>
                  </mat-list-item>
                }
                <mat-divider></mat-divider>
            </mat-list>

           </div>

        </mat-grid-tile>

        <mat-grid-tile class="list-note">

            <div class="list-note-list">
            <h1>Notes</h1>
            <hr>


            <mat-list>

                <div mat-subheader>Notes</div>
                @for (note of notes; track note) {
                  <mat-list-item>
                    <mat-icon matListItemIcon>note</mat-icon>
                    <div matListItemTitle>{{note.name}}</div>
                    <div matListItemLine>{{note.updated | date}}</div>
                  </mat-list-item>
                }
            </mat-list>

            </div>

        </mat-grid-tile>

    </mat-grid-list>


</div>
