<div class="dashboard">


    <!-- <div class="myChart1">

        <canvas id="myChart"></canvas>
    </div>


    <div class="dashboard1">

        <div class="myDoughnutChart1">
            <canvas id="myDoughnutChart"></canvas>
        </div>


        <div class="myDoughnutChartReverse1">
            <canvas id="myDoughnutChartReverse"></canvas>
        </div>
    </div> -->


</div>


<div class="Schedules">


    <div class="upcomingSchedule">

        <h2>Upcoming Schedules</h2>
        <div class="timebox">

            <div class="time">
                <p>09:30am </p>
                <div class="cicrle"></div>
                <p>Payment recieved from John Doe of $38590</p>
            </div>


            <div class="time">
                <p>10:30am </p>
                <div class="cicrle1"></div>
                <p>Payment recieved from John Doe of $38590</p>
            </div>


            <div class="time">
                <p>12:30am </p>
                <div class="cicrle2"></div>
                <p>Payment recieved from John Doe of $38590</p>
            </div>

            <div class="time">
                <p>12:30am </p>
                <div class="cicrle3"></div>
                <p>Payment recieved from John Doe of $38590</p>
            </div>

            <div class="time">
                <p>12:30am </p>
                <div class="cicrle4"></div>
                <p>Payment recieved from John Doe of $38590</p>
            </div>

            <div class="time">
                <p>12:30am </p>
                <div class="cicrle5"></div>
                <p>Payment recieved from John Doe of $38590</p>
            </div>

        </div>

    </div>

    <div class="TopPayingClients">

        <h2>Top Pating Clients</h2>

        <table>
            <tr>
                <th>Profile</th>
                <th>Hour Rate</th>
                <th>Extra Classes</th>
                <th>Status</th>
            </tr>
            <tr>
                <td> <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/administrator-male--v4.png"
                        alt="administrator-male--v4" />Mark J. Freeman <br>
                    <p>Prof. English</p>
                </td>
                <td>$150/hour</td>
                <td class="price">+53</td>
                <td class="Available">
                    <p>Available</p>
                </td>
            </tr>
            <tr>
                <td> <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/administrator-male--v4.png"
                        alt="administrator-male--v4" />Andrew McDowland <br>
                    <p>Prof. Project Manager</p>
                </td>
                <td>$150/hour</td>
                <td class="price">+68</td>
                <td class="Class">
                    <p>In Class</p>
                </td>
            </tr>

            <tr>
                <td> <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/administrator-male--v4.png"
                        alt="administrator-male--v4" />Chrispher Jamil <br>
                    <p>Prof. Project Manager</p>
                </td>
                <td>$150/hour</td>
                <td class="price">+94</td>
                <td class="absent">
                    <p>absent</p>
                </td>
            </tr>


            <tr>
                <td> <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/administrator-male--v4.png"
                        alt="administrator-male--v4" />Nirav Joshi <br>
                    <p>Prof. Fronted Engineer</p>
                </td>
                <td>$150/hour</td>
                <td class="price">+27</td>
                <td class="leave">
                    <p> on Leave</p>
                </td>
            </tr>
        </table>


    </div>



</div>


<div class="Containers">

    <div class="boxes">
        <img src="https://spike-angular-free.netlify.app/assets/images/products/p1.jpg" alt="">

        <div class="texts">
            <p>MacBook Air Pro</p>
            <div class="Mini-text">
                <p>$285</p>
                <p>$375</p>

                <div [style.background-color]="backgroundcolor" (click)="onclick()" class="star1"></div>
                <div [style.background-color]="backgroundcolor2" (click)="onclick2()" class="star2"></div>
                <div [style.background-color]="backgroundcolor3" (click)="onclick3()" class="star3"></div>
                <div [style.background-color]="backgroundcolor4" (click)="onclick4()" class="star4"></div>
                <div [style.background-color]="backgroundcolor5" (click)="onclick5()" class="star5"></div>

            </div>
        </div>

    </div>




    <div class="boxes">
        <img src="https://spike-angular-free.netlify.app/assets/images/products/p1.jpg" alt="">

        <div class="texts">
            <p>Red Valvet Dress</p>
            <div class="Mini-text">
                <p>$285</p>
                <p>$375</p>

                <div [style.background-color]="backgroundcolor6" (click)="onclick6()" class="star1"></div>
                <div [style.background-color]="backgroundcolor7" (click)="onclick7()" class="star2"></div>
                <div [style.background-color]="backgroundcolor8" (click)="onclick8()" class="star3"></div>
                <div [style.background-color]="backgroundcolor9" (click)="onclick9()" class="star4"></div>
                <div [style.background-color]="backgroundcolor10" (click)="onclick10()" class="star5"></div>

            </div>
        </div>

    </div>




    <div class="boxes">
        <img src="https://spike-angular-free.netlify.app/assets/images/products/p3.jpg" alt="">

        <div class="texts">
            <p>Cute Soft TeddyBear</p>
            <div class="Mini-text">
                <p>$285</p>
                <p>$375</p>

                <div [style.background-color]="backgroundcolor11" (click)="onclick11()" class="star1"></div>
                <div [style.background-color]="backgroundcolor12" (click)="onclick12()" class="star2"></div>
                <div [style.background-color]="backgroundcolor13" (click)="onclick13()" class="star3"></div>
                <div [style.background-color]="backgroundcolor14" (click)="onclick14()" class="star4"></div>
                <div [style.background-color]="backgroundcolor15" (click)="onclick15()" class="star5"></div>

            </div>
        </div>

    </div>





    <div class="boxes">
        <img src="https://spike-angular-free.netlify.app/assets/images/products/p4.jpg" alt="">

        <div class="texts">
            <p>Boat Headphone</p>
            <div class="Mini-text">
                <p>$285</p>
                <p>$375</p>

                <div [style.background-color]="backgroundcolor16" (click)="onclick16()" class="star1"></div>
                <div [style.background-color]="backgroundcolor17" (click)="onclick17()" class="star2"></div>
                <div [style.background-color]="backgroundcolor18" (click)="onclick18()" class="star3"></div>
                <div [style.background-color]="backgroundcolor19" (click)="onclick19()" class="star4"></div>
                <div [style.background-color]="backgroundcolor20" (click)="onclick20()" class="star5"></div>

            </div>
        </div>

    </div>
</div>